### Print Formatting

In [8]:
name = "Rishi"
age = 34

In [11]:
'Hello my Friend {}, of Age{} '.format(name,age)

'Hello my Friend Rishi, of Age34 '

In [16]:
print ('Hello my old friend {myName} of {myyears} having age {myyears}'.format(myName=name,myyears=age))

Hello my old friend Rishi of 34 having age 34

### Slicing Notations

In [17]:
myString="Hello"

In [18]:
myString

'Hello'

In [19]:
myString[2]

'l'

In [21]:
myString[2:6]

'llo'

In [22]:
myString[:3]

'Hel'

In [23]:
myString[3:]

'lo'

## Lists

Group of similar data types with index values

In [35]:
myList =['a','b','c','d','endGame']

In [36]:
print("Index One Element :myList[1] - ", myList[1] );
print("Slice starting at 2nd Location :myList[2:]-",myList[2:])

Index One Element :myList[1] -  b
Slice starting at 2nd Location :myList[2:]- ['c', 'd', 'endGame']

#### Nested Lists

In [58]:
nest = [1,2,[3,4]]

In [59]:
nest[2][1]

4

In [56]:
nest2=[1,2,[3,4,['innest']]]

In [57]:
nest2[2][2][0]

'innest'

### Dictionaries

In [17]:
dict={'key1':'Value1','key2':'Value2','key3':'Value3','key4':1234}

In [18]:
dict

{'key1': 'Value1', 'key2': 'Value2', 'key3': 'Value3', 'key4': 1234}

In [19]:
dict['key3']

'Value3'

In [66]:
dict2={'key1':[1,2,3,4]}

In [67]:
dict2['key1'][2]

3

In [20]:
dict3={'key1':'Value1','key2':[[22,33,44],2,3,4]}

In [21]:
dict3['key2'][0][2]

44

In [22]:
dict4={'key1':{'innerKey':[[22,33,44],2,3,4]}}

In [23]:
dict4['key1']['innerKey']

[[22, 33, 44], 2, 3, 4]

In [24]:
dict4['key1']['innerKey'][0][1]

33

### Tuples

In [29]:
t=(1,2,3)

In [30]:
t[0]

1

Tuples are immutable

In [31]:
t[0]=5

TypeError: 'tuple' object does not support item assignment

### Set

In [33]:
set({1,1,1,3,3,3,35,6,7,7})

{1, 3, 6, 7, 35}

In [37]:
s={1,1,1,3,3,3,35,6,7,7}

In [35]:
s

{1, 3, 6, 7, 35}

In [38]:
s.add(9)

In [39]:
s

{1, 3, 6, 7, 9, 35}

In [41]:
myList=[1,1,1,1,2,2,2,2,3,3,3,3,4,5]

In [42]:
mySet=set(myList)

In [43]:
mySet

{1, 2, 3, 4, 5}

#### ELIF

In [51]:
One =1;
Two =2;

In [52]:

if (One>=Two):
    print('True')
    print("One is Greater than Two")
elif One<=Two:
    print ('Print Falsed ')
    print('One is less than Two')
else :
    print ('Final False')

Print Falsed
One is less than Two

### For Loops and While Loops

In [53]:
seq=[1,2,3,4,5]

In [56]:
for item in seq:
    print (item)

1
2
3
4
5

In [57]:
list(range(22,25))

[22, 23, 24]

##### List Comprehension

In [60]:
x = [1,2,3,4]
out=[]
for items in x:
    out.append(items*items)
print (out)

[1, 4, 9, 16]

In [62]:
out=[num**2 for num in x]
print(out)

[1, 4, 9, 16]

### Functions

In [67]:
def my_func(name='Enter Name'):
    print("Hello "+name)

In [68]:
my_func('Rishi')

Hello Rishi

In [69]:
my_func()

Hello Enter Name

In [74]:
def square(num):
    """
    THIS IS THE DOCUMENT STRING
    """
    return (num**2)

In [75]:
print(square(12))

144

In [76]:
square
# Press Shift Tab After Function to show it's paramters and DOC String