### Print Formatting

In [8]:
name = "Rishi"
age = 34

In [11]:
'Hello my Friend {}, of Age{} '.format(name,age)

'Hello my Friend Rishi, of Age34 '

In [16]:
print ('Hello my old friend {myName} of {myyears} having age {myyears}'.format(myName=name,myyears=age))

Hello my old friend Rishi of 34 having age 34

### Slicing Notations

In [1]:
myString="Hello my Name is Rishi"

In [3]:
print(myString)

Hello my Name is Rishi

In [2]:
myString

'Hello my Name is Rishi'

In [4]:
myString[2]

'l'

In [5]:
myString[2:6]

'llo '

In [22]:
myString[:3]

'Hel'

In [6]:
myString[3:]

'lo my Name is Rishi'

## Lists

Group of similar data types with index values

In [7]:
myNumberList = [1,2,3,4,5,10]

In [8]:
myNumberList[2]

3

In [10]:
myList =["a","b",'c','d','endGame']

In [14]:
myList[3]

'd'

In [9]:
myList =['a','b','c','d','endGame']

In [36]:
print("Index One Element :myList[1] - ", myList[1] );
print("Slice starting at 2nd Location :myList[2:]-",myList[2:])

Index One Element :myList[1] -  b
Slice starting at 2nd Location :myList[2:]- ['c', 'd', 'endGame']

#### Nested Lists

In [15]:
nest = [1,2,[3,4]]

In [16]:
nest[2]

[3, 4]

In [17]:
nest[2][1]

4

In [18]:
nest =[1,2,[3,[4,5]]]

In [21]:
nest[2][1][0]

4

In [56]:
nest2=[1,2,[3,4,['innest']]]

In [57]:
nest2[2][2][0]

'innest'

### Dictionaries

In [22]:
dict={"key1":"Values1","Key2":"Value2","key3":"Values1","Key4":"Value2"}

In [23]:
dict

{'Key2': 'Value2', 'Key4': 'Value2', 'key1': 'Values1', 'key3': 'Values1'}

In [24]:
dict['Key2']

'Value2'

In [26]:
dict2={'key1':[1,2,3,4,3]}

In [28]:
dict2['key1'][2]

3

In [29]:
dict3={'key1':'Value1','key2':[[22,33,44],2,3,4]}

In [32]:
dict3['key2'][0][2]

44

In [37]:
type(nest)

list

In [33]:
dict4={'key1':{'innerKey':[[22,33,44],2,3,4]}}

In [23]:
dict4['key1']['innerKey']

[[22, 33, 44], 2, 3, 4]

In [24]:
dict4['key1']['innerKey'][0][1]

33

In [38]:
myList=[1,2,3,4]

In [39]:
myList[2]=12

In [40]:
myList

[1, 2, 12, 4]

### Tuples

A tuple1 is a sequence of values much like a list. The values stored in a tuple can be any type, and they are indexed by integers. The important difference is that tuples are immutable. Tuples are also comparable and hashable so we can sort lists of them and use tuples as key values in Python dictionaries.

https://stackoverflow.com/questions/1708510/python-list-vs-tuple-when-to-use-each
Tuples are fixed size in nature whereas lists are dynamic.
In other words, a tuple is immutable whereas a list is mutable.

You can't add elements to a tuple. Tuples have no append or extend method.
You can't remove elements from a tuple. Tuples have no remove or pop method.
You can find elements in a tuple, since this doesn’t change the tuple.
You can also use the in operator to check if an element exists in the tuple.
Tuples are faster than lists. If you're defining a constant set of values and all you're ever going to do with it is iterate through it, use a tuple instead of a list.

It makes your code safer if you “write-protect” data that does not need to be changed. Using a tuple instead of a list is like having an implied assert statement that this data is constant, and that special thought (and a specific function) is required to override that.

Some tuples can be used as dictionary keys (specifically, tuples that contain immutable values like strings, numbers, and other tuples). Lists can never be used as dictionary keys, because lists are not immutable.

Source: Dive into Python 3

In [29]:
t=(1,2,3)

In [30]:
t[0]

1

Tuples are immutable

In [31]:
t[0]=5

TypeError: 'tuple' object does not support item assignment

### Set

In [ ]:
my

In [33]:
set({1,1,1,3,3,3,35,6,7,7})

{1, 3, 6, 7, 35}

In [37]:
s={1,1,1,3,3,3,35,6,7,7}

In [35]:
s

{1, 3, 6, 7, 35}

In [38]:
s.add(9)

In [39]:
s

{1, 3, 6, 7, 9, 35}

In [43]:
myList=[1,1,1,1,2,2,2,2,3,3,3,3,4,5]

In [44]:
mySet=set(myList)

In [45]:
mySet

{1, 2, 3, 4, 5}

In [46]:
type(mySet)

set

#### ELIF

In [57]:
One =1;
Two =1;

In [60]:
if(One > Two):
    print("One is Greater than 2")
elif(One == Two):
    print("One is == 2")
else :
    print("One is NOT Greater than 2")

One is == 2

### For Loops and While Loops

In [53]:
seq=[1,2,3,4,5]

In [56]:
for item in seq:
    print (item)

1
2
3
4
5

In [57]:
list(range(22,25))

[22, 23, 24]

##### List Comprehension

In [60]:
x = [1,2,3,4]
out=[]
for items in x:
    out.append(items*items)
print (out)

[1, 4, 9, 16]

In [62]:
out=[num**2 for num in x]
print(out)

[1, 4, 9, 16]

### Functions

In [61]:
def my_func(name='Enter Name'):
    print("Hello "+name)

In [62]:
my_func('Rishi')

Hello Rishi

In [63]:
my_func()

Hello Enter Name

In [64]:
def square(num):
    """
    THIS IS THE DOCUMENT STRING
    """
    return (num**2)

In [65]:
print(square(12))

144

In [66]:
square
# Press Shift Tab After Function to show it's paramters and DOC String